/*  Colors Used
Background-color: #f0eff4;
Primary-color: 6b5b95;
Secondary-color: b22ee0;
Second Primary-Color: #2bbdb6;
Dark-contrast-color: 343148;
Text Color: #000000;
Second Text-color: #ffffff;
*/
body {
  background-color: #f0eff4;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.6;
}

h1 {
  font-family: "Hind", sans-serif;
  font-size: 2.3em;
  font-weight: 700;
}

h2 {
  font-family: "Hind", sans-serif;
  font-size: 2em;
  font-weight: 700;
}

h3 {
  font-family: "Hind", sans-serif;
  font-size: 1.7em;
  font-weight: 700;
}

a {
  color: #2bbdb6;
}

a:visited {
  /* visited link */
  color: #2bbdb6;
}

a:hover,
a:focus {
  text-decoration: none;
  /* No underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #343148;
}

.social-icon {
  width: 1.9em;
}

.button {
  display: inline-block;
  border: none;
  font-family: inherit;
  /* takes the font from the outer container */
  font-size: 20px;
  font-weight: bold;
  /* style button */
  background-color: #b22ee0;
  color: white !important;
  text-decoration: none;
  padding: 20px;
  border-radius: 20px;
  border-bottom: 2px solid #343148;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover,
.button:focus {
  cursor: pointer;
  /* let's the mouse appear as hand when hovering over the button */
  opacity: 0.8;
  /* Reduces the opactiy of the button to 80% */
}
