/*  Colors Used
Background-color: #f0eff4;
Primary-color: 6b5b95;
Secondary-color: b22ee0;
Second Primary-Color: #2bbdb6;
Dark-contrast-color: 343148;
Text Color: #000000;
Second Text-color: #ffffff;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #f0eff4;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.6;
}
img {
  width: 100%;
}
.logo {
  width: 150px;
  padding-top: 5px;
}
.viola {
  width: 200px;

}

h1 {
  font-family: "Hind", sans-serif;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-family: "Hind", sans-serif;
  font-size: 1.6em;
  font-weight: 700;
}

h3 {
  font-family: "Hind", sans-serif;
  font-size: 1.3em;
  font-weight: 700;
}
#hero {
  text-align: center;
}
#contact {
  text-align: center;
}
.inktank {
  height: 618px;
  width: auto;
}

.flyingwords {
  height: 618px;
  width: auto;
}


a {
  color: #2bbdb6;
}

a:visited {
  /* visited link */
  color: #2bbdb6;
}

a:hover,
a:focus {
  text-decoration: none;
  /* No underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #343148;
}

.social-icon {
  width: 1.9em;
}

.viola {
  height: 200px;
  border-radius: 180%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.intro {
  text-align: left;
}

.button {
  display: inline-block;
  border: none;
  font-family: inherit;
  /* takes the font from the outer container */
  font-size: 21px;
  font-weight: bold;
  /* style button */
  background-color: #b22ee0;
  color: white !important;
  text-decoration: none;
  padding: 15px;
  border-radius: 20px;
  border-bottom: 2px solid #343148;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover,
.button:focus {
  opacity: 0.8;
  /* Reduces the opactiy of the button to 80% */
}

/*Layout Styling */
.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.containskillstools {
  font-size: 0px;
}

.columnskill {
  width: 49%;
  display: inline-block;
  margin-right: 1%;
  font-size: 21px;
  text-align: center;
}

.columnskill:last-child {
  margin-right: 0;
}

.columns-container {
  font-size: 0px;
}

.column-2 {
  width: 49%;
  display: inline-block;
  margin-right: 1%;
  font-size: 21px;
  text-align: center;
}

column-2:last-child {
  margin-right: 0;
}

nav {
  float: right;
  display: inline-block;
}

.navigation {
  list-style-type: none;
  padding: 0;
}

.navigation>li {
  display: inline-block;
  margin-left: 10px;
}

/*Mobilephone/Small screen mediaqueri */
@media all and (max-width: 500px) {
  body {
    font-size: 16px;
  }

  .logo {
    /* Make logo smaller by changing it's height */
    height: 50px;
  }

  .viola {
    height: 100px;
    margin: 10px;
  }

  .navigation {
    margin: 10px;
  }

  h1 {
    /* Reduce font-size of heading */
    font-size: 1.5em;
    text-align: left;
    margin: 10px;
  }

  h2 {
    font-size: 1.1em;
    margin: 10px;
  }

  h3 {
    margin: 10px;
  }

  p {
    margin: 10px;
  }

  .column-2 {
    /* Modify 4-column to 2-columns */
    width: 100%;
    margin-right: 1%;
    display: block;
    margin-right: 0;
  }

  .column-2:nth-child(2) {
    margin-right: 0;
  }

  .button {
    margin: 10px;
    font-size: 16px;
  }
}

/*Tablet / Medium device media querie */
@media only screen and (max-width: 768px) {
  body {
    font-size: 18px;
  }

  .navigation {
    margin: 10px;
  }

  .viola {
    margin: 10px;
  }

  h1 {
    /* Reduce font-size of heading */
    font-size: 1.5em;
    text-align: left;
    margin: 10px;
  }

  h2 {
    font-size: 1.1em;
    margin: 10px;
  }

  h3 {
    margin: 10px;
  }

  p {
    margin: 10px;
  }

  .column-2 {
    /* Modify 4-column to 2-columns */
    width: 100%;
    margin-right: 1%;
    display: block;
    margin-right: 0;
  }

  .column-2:nth-child(2) {
    margin-right: 0;
  }

  .button {
    margin: 10px;
    font-size: 18px;
  }
}

/*biggermiddle size */
@media only screen and (max-width: 910px) and (min-width: 768px) {
  .navigation {
    margin: 10px;
  }

  .viola {
    margin: 10px;
  }

  h1 {
    margin: 10px;
  }

  h2 {
    margin: 10px;
  }

  h3 {
    margin: 10px;
  }

  p {
    margin: 10px;
  }

  .button {
    margin: 10px;
  }
}
