/*  Colors Used
Background-color: #f0eff4;
Primary-color: 6b5b95;
Secondary-color: b22ee0;
Second Primary-Color: #2bbdb6;
Dark-contrast-color: 343148;
Text Color: #000000;
Second Text-color: #ffffff;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #f0eff4;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.6;
}

img {
  width: 100%;
}

.logo {
  width: 120px;
  padding-top: 10px;

}

.viola {
  width: 200px;
}

h1 {
  font-family: "Hind", sans-serif;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

h1 span {
  display: block;
  font-family: "Open Sans", sans-serif;

  font-size: 0.9em;
  font-weight: 400;
}

h2 {
  font-family: "Hind", sans-serif;
  font-size: 1.6em;
  font-weight: 700;
}

h3 {
  font-family: "Hind", sans-serif;
  font-size: 1.3em;
  font-weight: 700;
}

#hero {
  text-align: center;
}

#contact {
  text-align: center;
}

.inktank {
  height: 618px;
  width: auto;
}

.flyingwords {
  height: 618px;
  width: auto;
}

a {
  color: #6b5b95;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  z-index: 0;
}

a:visited {
  /* visited link */
  color: #6b5b95;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
  /* No underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #343148;
  text-decoration: none;
}

#current a {
  color: #2bbdb6;
}

.social-icon {
  width: 1.9em;
  /*socialiconeffect*/
  border-radius: 50%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
  transition: .3s;
}

.social-icon:hover {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.28);
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}

.viola {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  border-radius: 180%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.intro {
  text-align: left;
}

.button_holder .button {
  display: inline-block;
  border: none;
  font-family: inherit;
  /* takes the font from the outer container */
  font-size: 21px;
  font-weight: bold;
  /* style button */
  background-color: #2bbdb6;
  color: white !important;
  text-decoration: none;
  padding: 15px;
  border-radius: 20px;
  border-bottom: 2px solid #343148;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover,
.button:focus {
  opacity: 0.8;
  /* Reduces the opactiy of the button to 80% */
  /*circlesaround*/
  /*endcirclesaround*/
}

/*Layout Styling */
header {
  /*background-image: linear-gradient(#343148, #6b5b95, #2bbdb6);*/
  background-color: #343148;
  -webkit-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.75);
}

main {
  padding: 50px 0 0;
}
a.navhead {
  color: white;
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.center {
  text-align: center;
}

.top-padding {
  padding-top: 30px;
}

.bottom-padding {
  padding-bottom: 30px;
}

.columns-container {
  font-size: 0px;
}

.columns-container:after {
  content: '';
  display: table;
  clear: both;
}

.column-2 {
  width: 49%;
  display: inline-block;
  margin-right: 1%;
  font-size: 21px;
  text-align: center;
  float: left;
}

.column-2:last-child {
  margin-right: 0;
}

.skills .column-2 ul {
  padding: 0;
  list-style-type: none;
  min-height: 365px;
}

.skills .column-2 {
  border: 1px solid #ccc;
  border-radius: 10px;
}

.skills h3 {
  background: #343148;
  border-radius: 10px 10px 0 0;
  color: #fff;
  margin: 0;
  padding: 1em 0;
}

nav {
  float: right;
  display: inline-block;
  margin-top: 40px;
}

.navigation {
  list-style-type: none;
  padding: 0;
}

.navigation>li {
  display: inline-block;
  margin-left: 30px;
}

/*Css Navigation Animation */
li.circleBehind a:before, li.circleBehind a:after {
  position: absolute;
  top: 22px;
  left: 50%;
  width: 60px;
  height: 60px;
  border: 3px solid #2bbdb6;
  transform: translateX(-50%) translateY(-50%) scale(0.8);
  border-radius: 50%;
  background: transparent;
  content: "";
  opacity: 0;
  transition: all 0.3s;
  z-index: -1;
}

li.circleBehind a:after {
  border-width: 2px;
  transition: all 0.4s;
}

li.circleBehind a:hover:before {
  opacity: 0.8;
  transform: translateX(-50%) translateY(-50%) scale(1);
}

li.circleBehind a:hover:after {
  opacity: 0.8;
  transform: translateX(-50%) translateY(-50%) scale(1.3);
}

/*Css Animation Navigation for contact dates */
div.lines a:before, div.lines a:after {
  position: absolute;
  opacity: 0;
  width: 0%;
  height: 2px;
  content: '';
  background: #2bbdb6;
  transition: all 0.3s;
}

div.lines a:before {
  left: 0px;
  top: 0px;
}

div.lines a:after {
  right: 0px;
  bottom: 0px;
}

div.lines a:hover:before, div.lines a:hover:after {
  opacity: 1;
  width: 100%;
}

/*Animation CSS*/
@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/*Animation Ends */
/*Mobilephone/Small screen mediaqueri */
@media all and (max-width: 500px) {
  body {
    font-size: 16px;
  }

  .logo {
    /* Make logo smaller by changing it's height */
    height: 50px;
    width: auto;
  }

  .viola {
    height: 100px;
    width: auto;
  }

  #hero h1 {
    /* Reduce font-size of heading */
    font-size: 1.5em;
    text-align: center;
  }

  h2 {
    font-size: 1.1em;
  }

  p {
    text-align: left;
  }

  .column-2 {
    /* Modify 4-column to 2-columns */
    width: 100%;
    display: block;
    margin-right: 0;
  }

  .button {
    margin: 10px;
    font-size: 16px;
  }
}

/*Tablet / Medium device media querie */
@media only screen and (max-width: 767px) {
  body {
    font-size: 18px;
  }

  h1 {
    /* Reduce font-size of heading */
    font-size: 1.5em;
    text-align: center;
  }

  h2 {
    font-size: 1.1em;
  }

  .column-2 {
    /* Modify 4-column to 2-columns */
    width: 100%;
    display: block;
    margin-right: 0;
  }

  /*biggermiddle size */
  @media only screen and (max-width: 950px) {
    .navigation {
      margin: 10px;
    }
  }

  .viola {
    margin: 10px;
  }

  h1 {
    margin: 10px;
  }

  h2 {
    margin: 10px;
  }

  h3 {
    margin: 10px;
  }

  p {
    margin: 10px;
  }

  .button {
    margin: 10px;
  }
}
